### requires https://github.com/direnv/direnv: `brew install direnv`

# local to this directory
export KUBECONFIG=.kubeconfig
export KUBE_CONFIG_PATH=${KUBECONFIG}

# https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/kubernetes_cluster#attributes-reference
export ARM_AKS_KUBE_CONFIGS_SENSITIVE=true

# https://www.terraform.io/internals/debugging
#export TF_LOG=INFO

# to use i.e. https://github.com/jrhouston/tfk8s#install
PATH_add ~/go/bin/
