# https://github.com/jrhouston/tfk8s#install
PATH_add ~/go/bin/

export KUBECONFIG=.kubeconfig
export KUBE_CONFIG_PATH=${KUBECONFIG}

# https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/kubernetes_cluster#attributes-reference
export ARM_AKS_KUBE_CONFIGS_SENSITIVE=true

# https://www.terraform.io/internals/debugging
#export TF_LOG=INFO
